



<%= form_tag(theatres_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search theatres" %>
<%= submit_tag "Search" %>
<% end %>


<% if (@theatres.present?) &&  (params.has_key?(:search))%>
  <%= render @theatres %>
<% elsif (params.has_key?(:search)) %>
  <p>There are no theatres containing the term(s) <%= params[:search] %>.</p>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Theatres</h1>

<%= will_paginate @theatres %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
      <% @theatres.each do |theatre| %>
      <tr>
        <td><%= theatre.name %></td>
        <td><%= theatre.description %></td>
        <td><%= link_to 'Show', theatre %></td>
        <td><%= link_to 'Edit', edit_theatre_path(theatre) %></td>
        <td><%= link_to 'Destroy', theatre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theatre', new_theatre_path %>
