<h2>Edytuj użytkownika</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Hasło %> <i>(Pozostaw puste jeśli bez zmian)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Potwierdź_hasło %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Obecne_hasło %> <i>(potrzebne do potwierdzenia zmian)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :imię_i_nazwisko %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :ulica %><br />
    <%= f.text_field :street, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Numer_domu %><br />
    <%= f.text_field :housenumber, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Numer_mieszkania %><br />
    <%= f.text_field :apartmentnumber, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :miasto %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :kod_pocztowy %><br />
    <%= f.text_field :zipcode, autofocus: true %>
  </div>



  <div class="actions">
    <%= f.submit "Aktualizuj" %>
  </div>
<% end %>

<h3>Usuń konto</h3>

<p><%= button_to "Usuń", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
