<p><%= item.name %>
<p>Cena za sztukę: <%= item.price %>zł</p>
<p> <%= image_tag(item.photo_url, :width => 100) if item.photo.present? %> 


      
    <% if user_signed_in? %>
      <%= form_for order_item, remote: true do |f| %>
        <div class="input-group col-md-4">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :item_id, value: item.id %>
              <%= f.submit "Dodaj do koszyka", class: "btn btn-primary" %>
            </div>
        </div>
      <%= link_to 'Edit', edit_item_path(item), :class =>"btn btn-default"  %>
        <% end %>
      <% end %>
