<td><%= item.name %></small></td>
    </div>

      
    <% if user_signed_in? %>
      <%= form_for order_item, remote: true do |f| %>
      
      <h4 class="text-right">Cena za sztukę: <%= item.price %>zł</h4>
        </tbody>
      </table>
          <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :item_id, value: item.id %>
              <%= f.submit "Dodaj do koszyka", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>