<p>
  <strong>Nazwa:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Numer:</strong>
  <%= @item.number %>
</p>

<p>
  <strong>Zdjęcie:</strong>
  <%= image_tag(@item.photo_url, :width => 300) if @item.photo.present? %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @item.price %>
</p>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
