<p>


<% if user_signed_in? %>
     Ocena uzytkownika: <%= rating_for_user @item, current_user, 'speed', star: 10 %>

<% end %>

  <strong>Nazwa:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Numer:</strong>
  <%= @item.number %>
</p>

<p>
  <strong>Zdjęcie:</strong>
  <%= image_tag(@item.photo_url, :width => 300) if @item.photo.present? %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @item.price %>
</p>


<% if (user_signed_in?) && (current_user.role_id == 1 || 2) %>
	<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>	


<%= link_to 'Back', items_path %>
