<!DOCTYPE html>
<html>
<head>
  <title>Harcerki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
	<div class="row">
		<div class="col-md-8">
			<h3><%= link_to "Krajka sklep", root_path %></h3>
		</div>
		<div class="col-md-4">
	  		Zalogowano jako <%= current_user.email %>.
	  		<%= link_to "Edytuj profil", edit_user_registration_path %>
	  		<%= link_to "Wyloguj się", destroy_user_session_path, :method => :delete %>
	  		<div class="cart-text"><%= render 'layouts/cart_text' %></div>
	  	</div>
	</div>
	<% else %>
	  <%= link_to "Zarejestruj się", new_user_registration_path %> lub <%= link_to "Zaloguj się", new_user_session_path %>
	<% end %>
	 
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>

	<% if user_signed_in? %>

 	<% end %>
<%= yield %>

</body>
</html>
