<!DOCTYPE html>
<html>
<head>
  <title>Oceń sztukę!</title>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>


		<div class="col-md-8">
			<h3><%= link_to "Strona główna", root_path %></h3>
		</div>
	<%= link_to "Items link", items_path %>	
	<%= link_to "Theatres link", theatres_path %>	
	<% if user_signed_in? %>
	<div class="row">

		<div class="col-md-4">
	  		Zalogowano jako <%= current_user.email %>.


	  		<%= link_to "Edytuj profil", edit_user_registration_path %>
	  		<%= link_to "Wyloguj się", destroy_user_session_path, :method => :delete %>
	  	</div>
	</div>
	<% else %>
	  <%= link_to "Zarejestruj się", new_user_registration_path %> lub <%= link_to "Zaloguj się", new_user_session_path %>
	<% end %>
	 
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>

	
<%= yield %>

</body>
</html>
